<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.morfly.bazel"
    tools:ignore="MissingVersion">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <application android:label="Bazel Workshop App">
        <activity
            android:name=".MainActivity"
            android:label="Bazel Workshop App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
